<% if @storybooks.empty? %>

    <%= render partial: 'shared/nothing_to_render', locals: { item: 'storybook' } %>

<% else %>

    <div class="list-group m-t-lg">

        <% @storybooks.each do |storybook| %>

            <%= render storybook %>

        <% end %>

    <%= paginate @storybooks %>

    </div>

<% end %>

