<%= content_tag :p, link_to("Start new storybook", new_storybook_path, class:' btn btn-success btn-sm'), class:'pull-right m-t-n-xl' %>

<div class="list-group m-t-lg">

  <% @storybooks.each do |storybook| %>

    <%= render storybook %>

  <% end %>

  <%= paginate @storybooks %>

</div>

