<%= content_for :sub_nav_content do %>

    <%= content_tag :li, link_to('Edit this storybook', edit_storybook_path(@storybook), class:'navbar-link')%>

<% end %>

<div class="well">

    <%= content_tag :p, sanitize(@storybook.description), class:'lead' %>

</div>


