<h1>FamilyShare</h1>

<p>
  Hi, <%= @user.name %>:
</p>

<p>
  Your FamilyBook account is now inactive.  We hope you return to our service soon.
</p>

<p>
  Warm Regards,
</p>

<p>
  The FamilyShare Team
</p>