<div id="search-results">

  <% if @results.empty? %>

      <%= render partial: 'shared/nothing_to_render', locals: { item: 'result' } %>

  <% else %>

      <ul class="list-group m-t-lg">

        <% @results.each do |result| %>

            <%= render partial: 'result', locals: { result: result } %>

        <% end %>

      </ul>

  <% end %>

</div>
