<li class="list-group-item row">

  <div class="col-lg-1">

    <%= profile_image_for(relative, size:25) %>

  </div>

  <div class="col-lg-3">

    <%= relative.name %>

  </div>

  <div class="col-lg-6">

    Added as a family member <%= time_ago_in_words @user.relative_since(relative) %> ago

  </div>

  <div class="col-lg-2">

    <%= link_to 'Remove relative', relationship_path(relative), class:'text-danger text-sm',
                method: :delete, data: { confirm: 'you sure you want to remove this relative?' } %>

  </div>

</li>