<li class="list-group-item row">

  <div class="col-lg-1">

    <%= profile_image_for(item, size:25) %>

  </div>

  <div class="col-lg-4">

    <%= item.name %>

  </div>

  <div class="col-lg-5">

    Added as family member <%= time_ago_in_words(item.created_at) %> ago

  </div>

  <div class="col-lg-2">

    <%= link_to 'Remove relative', relationship_path(item), method: :delete, class:'text-warning' %>

  </div>

</li>