<div class="tab-pane fade" id="user-activity">

  <ul class="list-group">

    <% if @activities.any? %>

        <%= render_activity(@activities) %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'activity' } %>

    <% end %>

  </ul>

</div>