<div class="tab-pane fade" id="user-relatives">

  <ul class="list-group">

    <% if @relatives.any? %>

        <% @relatives.each do |user| %>



        <% end %>

        <%= content_tag :p, (link_to 'Vew all family members', '#'), class:'lead m-t-lg' %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'relative' } %>

    <% end %>

  </ul>

</div>