<div class="tab-pane fade" id="user-activities">

  <ul class="list-group">

    <% if @activities.any? %>

        <% @activities.each do |activity| %>

            <%= render_each(activity) %>

        <% end %>

        <%= content_tag :p, (link_to 'Vew all activities', activities_path), class:'lead m-t-lg' %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'activity' } %>

    <% end %>

  </ul>

</div>