<div class="tab-pane fade in" id="user-stories">

  <ul class="list-group">

    <% @user.stories.each do |story| %>

        <%= content_tag :li, link_to(story.title, story, remote:true), class:'list-group-item' %>

    <% end %>

  </ul>

</div>