<div class="tab-pane fade" id="user-relatives">

  <ul class="list-group">

    <% if @relatives.any? %>

        <% @relatives.each do |relative| %>

            <li class="list-group-item">

                <%= relative.name %>

                <%= content_tag :p, button_to('Remove relative', relationship_path(relative), method: :delete) %>

            </li>

        <% end %>

        <%= content_tag :p, (link_to 'Vew all family members', relationships_path), class:'lead m-t-lg' %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'relative' } %>

    <% end %>

  </ul>

</div>