<li class="list-group-item row">

  <div class="col-lg-3">

    <%= user.name %>

  </div>

  <div class="col-lg-3">

    <%= link_to "#{user.storybooks.count} storybooks", "#", data: { title: 'Storybooks',
                                                                    container:'body',
                                                                    toggle: 'popover',
                                                                    placement: 'right',
                                                                    content: "#{storybooks_for(user)}"
                                                     } %>

  </div>

  <div class="col-lg-3">

    <%= link_to "#{user.stories.count} stories", "#",       data: { title: 'Stories',
                                                                    container:'body',
                                                                    toggle: 'popover',
                                                                    placement: 'right',
                                                                    content: "#{stories_for(user)}"
                                                     } %>

  </div>

  <div class="col-lg-3">

    <%= user.total_relatives %>

  </div>

</li>