<div class="tab-pane fade in" id="user-stories">

  <ul class="list-group">

    <% if @stories.any? %>

        <% @stories.each do |story| %>

            <%= content_tag :li, link_to(story.title, story, remote:true), class:'list-group-item' %>

        <% end %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'story' } %>

    <% end %>

  </ul>

</div>