<div class="tab-pane fade" id="user-relatives">

  <ul class="list-group">

    <% if @relationships.any? %>

        <% @relationships.each do |relationship| %>

            <li class="list-group-item">

                <%= relationship.relative.name %>

                <%= content_tag :p, button_to('Remove relationship', relationship, method: :delete) %>

            </li>

        <% end %>

    <% else %>

        <%= render partial: 'shared/nothing_to_render', locals: { item: 'relationship' } %>

    <% end %>

  </ul>

</div>