<h3 class='text-info font-thin'>
  <%= @user.name %>
  <% if current_user?(@user) %>
    <%= content_tag :span, link_to('Edit account', edit_user_path(@user)), class:'text-sm' %>
  <% end %>
</h3>

<ul class="nav nav-tabs">

  <%= content_tag :li, link_to('Storybooks', "#storybooks", data: { toggle:'tab'}), class:'h5 active' %>

  <%= content_tag :li, link_to('Stories', "#stories", data: { toggle:'tab'}), class:'h5' %>

</ul>