<%= profile_image_for(@user) %>

<ul class="nav nav-tabs">

  <%= content_tag :li, link_to('Storybooks', "#storybooks", data: { toggle:'tab'}), class:'h5 active' %>

  <%= content_tag :li, link_to('Stories', "#stories", data: { toggle:'tab'}), class:'h5' %>

</ul>

<p class="m-t-xl">

  <%= link_to 'Edit my account', edit_user_path(@user), class:'text-warning' %>

</p>


