<% if @stories.empty? %>

    <%= render partial: 'shared/nothing_to_render_alert', locals: { item: 'story' } %>

<% else %>

    <div class="list-group m-t-lg">

        <% @stories.each do |story| %>

           <%= render story %>

        <% end %>

        <%= paginate @stories %>

    </div>

<% end %>
