<div class="jumbotron">

  <h1 class="font-thin">Share your family with your family</h1>

  <p>
    Pass down values through a family storybook.  It makes a great gift, keepsake, and
    your children can learn about their family's heritage as they learn to read.
  </p>

  <p>
    <%= link_to 'Free trial', signup_path, class:'btn btn-primary btn-lg' %>
  </p>

  <p>Don't put populate.rake in the upload list!</p>

</div>
