<div class="page-header">

  <h1 class="font-thin">This is the how it works page</h1>

</div>

<p class="lead">
  Pin a fixed-height footer to the bottom of the viewport in desktop browsers
  with this custom HTML and CSS. A fixed navbar has been added with
  <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>

<p>

  <%= link_to 'Back to the home page', root_path %>

</p>