// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.session {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signup {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}