<% flash.each do |key, value| %>

    <%= content_tag :div, class:"flash alert alert-#{key} alert-dismissable", role:'alert' do %>

        <button type="button" class="close" data-dismiss="alert">×</button>

        <%= content_tag :p, value, class:'lead' %>

    <% end %>

<% end %>