<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse">

  <ul class="nav navbar-nav">

    <%= render "#{controller_name}/sub_nav" if is_present? %>

  </ul>

  <ul class="nav navbar-nav navbar-right">

    <%= bootstrap_form_tag url: search_path, html: { class:'navbar-form' }, method: :get do |f| %>

        <%= f.text_field :query, hide_label: true, placeholder:'Search...'  %>

        <%= f.submit 'Submit', class:'btn btn-default btn-sm' %>

    <% end %>

  </ul>

</div>
