<!DOCTYPE html>
<html lang="en">

<head>

  <%= render 'layouts/head' %>

</head>

<body class="session">

    <div class="container">

        <%= render 'layouts/flashes' %>

        <%= link_to 'FamilyShare', root_path, class:'h3 text-primary font-thin' %>

        <%= yield %>

    </div>


</body>

</html>